<h1>JackerNews</h1>

<p>
<table>

<!-- ADD THE ACTIVE RECORD QUERY TO GENERATE LIST OF ARTICLES IN ORDER BY COUNT -->

<% @articles.each_with_index do |article, i| %>
      <tr><td> <%= i+1 %>. </td>
      <td> <a href ="<%= article.url %>"><%= article.title %></a></td>
       <% if current_user == article.owner %>
            <td> <%= link_to 'Edit', "/articles/#{article.id}/edit" if article.recent? %> </td>
      <!-- IF THE CURRENT USER IS NIL OR HAS VOTED ON THE POSTING ALREADY, DON'T SHOW VOTE LINK-->
       <% elsif current_user != nil && (Vote.where(:user_id => current_user, :posting_id => article.id)).empty?  %>
              <td><%= link_to 'Vote', "/articles/#{article.id}/vote" %> </td>
              <!-- previously used: votes/create?posting_id=#{article.id}  # didn't need :method => :post -->


    <%   end %>
          <td> <%=  article.vote_count  %> </td>
       </tr>
<% end %>



</table>
</p>


